/* textarea {
   width: 500px;
} */
.posts {
  margin-top: 20px;
  margin-left: 10px;
}

.addPost {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 30px;
  align-self: start;
  justify-self: start;
}
.addPost textarea {
  width: 450px;
  height: 35px;
  background-color: #fff;
  border: 1px #304040 solid;
  border-radius: 10px;
  margin: 0px 70px;
  resize: none;
}

.addPost button {
  width: 135px;
  height: 35px;
  justify-self: start;
  border-radius: 10px;
}

.myPost h3 {
  color: rgb(255, 255, 255);
  margin: 15px 250px;
}

