.block{
   margin: 10px 20px;
}
.addPost {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(206, 206, 136); 
    outline: none;
   }
.error {
   border: 1px solid rgb(228, 29, 29);
}
.errorBlock {
   color: rgb(146, 27, 27);
   font-size: 20px;
   font-weight: 400;
}
.globalError {
   border: 1px solid rgb(114, 31, 31);
   font-size: 20px;
   color: rgb(240, 72, 72);
}