.header {
  grid-area: h;
  background-color: #04202C;
  padding: 10px;
}

.header img {
  height: 60px;
  width: 60px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 12px;
}
.login {
  color: #fff;
  text-decoration: none;
}
