.header {
  grid-area: h;
  background-color: #04202C;
  padding: 10px;
}

.header img {
  height: 70px;
  width: 80px;
  margin: -15px 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 12px;
}
.login {
  color: #fff;
  text-decoration: none;
}
.but {
  width: 100px;
  height: 23px;
  color: white;
  font-size: 14px;
  background-color: rgb(89, 92, 99);
  border: 0px;
  border-radius: 20px;
  margin-top: 5px;
}
.but:hover {
  background-color: rgb(142, 142, 148);
  outline: none;
}