.mainImg {
  width: 1000px;
  height: 300px;
  border: 1px #04202C solid;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}
.avaImg {
  width: 200px;
  height: 250px;
  background-size: cover;
  margin: 0px 4px;
  border: 1px #04202C solid;
  border-radius: 5%;
}
.profileInfo {
 display: grid;
 grid-template-columns: 2fr 8fr;
}

.des {
  margin: 10px;
  color: rgb(248, 232, 8);
}