.mainImg {
  width: 1000px;
  height: 300px;
  border: 1px #04202C solid;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}
.avaImg {
  width: 200px;
  height: 250px;
  background-size: cover;
  margin: 0px 4px;
  border: 1px #04202C solid;
  border-radius: 5%;
}
.profileInfo {
 display: grid;
 grid-template-columns: 2fr 8fr;
}

.des {
  margin: 10px;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.aboutMe {
color: #ffd900;
}
.desItem1 {color: #d4bb2e;}
.desItem2 {color:#a59226;}
.desItem3 {color: #ffd900;}
.desItem4 {color:rgb(215, 236, 27);}
.desItem5 {color:#ffd900;}
.desItem6 {color: #a79845;}
.desItem7 {color:#bfca1f;}
.desItem8 {color:#ccb742;}
.desItem9 {color:#ceb62e;}
